<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission: Scrape Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
        <h1>Mission: Scraping Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Start Scraping</a></p>
        </div>
        <div class ="container">
            <div class="row" id=>
                <div class="col-md-12" >
                    <h2>Latest mars news</h2>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <h3>{{fimage.lat_news[0][0].title}}</h3>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <p>{{fimage.lat_news[0][1].art}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class= "col-md-8">
                    <h2>Featured Mars Image</h2>
                </div>
                <div class= "col-md-4">
                    <h3>Mars Facts</h3>
                </div>
            </div>
            <div class="row">
                <div class= "col-md-8">
                    <img src="{{fimage.feat_image}}" alt="">
                </div>
                <div class= "col-md-4">
                    <h3>Data Table</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="{{fimage.hem_list[0][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[0][0].title}}</h5>
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[1][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[1][0].title}}</h5> 
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[2][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[2][0].title}}</h5> 
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[3][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[3][0].title}}</h5> 
                </div>
            </div>
        </div>
            
  </div>
</body>

</html>
