<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Phone</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
        <h1>Mission: Scraping Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Start Scraping</a></p>
        </div>
        <div class ="container">
            <div class="row" id=>
                <div class="col-md-12" >
                    <h2>Latest Mars News</h2>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <h3>Latest Mars News</h3>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class= "col-md-8">
                    <h2>Featured Mars Image</h2>
                </div>
                <div class= "col-md-4">
                    <h3>Mars Facts</h3>
                </div>
            </div>
            <div class="row">
                <div class= "col-md-8">
                    <img src={{fimage}} alt="">
                </div>
                <div class= "col-md-4">
                    <h3>Mars table</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="fullmars.jpg" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">Card Title </h5> 
                    <p class="card-text">Text as a placeholder for this card</p>
                    <p class="card-text">Text as a placeholder for this card</p>
                </div>
            </div>
            <div class="card">
                <img src="fullmars.jpg" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">Card Title </h5> 
                    <p class="card-text">Text as a placeholder for this card</p>
                    <p class="card-text">Text as a placeholder for this card</p>
                </div>
            </div>
            <div class="card">
                <img src="fullmars.jpg" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">Card Title </h5> 
                    <p class="card-text">Text as a placeholder for this card</p>
                    <p class="card-text">Text as a placeholder for this card</p>
                </div>
            </div>
            <div class="card">
                <img src="fullmars.jpg" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">Card Title </h5> 
                    <p class="card-text">Text as a placeholder for this card</p>
                    <p class="card-text">Text as a placeholder for this card</p>
                </div>
            </div>
        </div>
            
  </div>
</body>

</html>
