<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission: Scrape Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
        <h1>Mission: Scraping Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Start Scraping</a></p>
        </div>
        <div class ="container">
            <div class="row" id=>
                <div class="col-md-12" >
                    <h2>Latest mars news</h2>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <h3>{{fimage.lat_news[0][0].title}}</h3>
                </div>
            </div>
            <div class="row" id=>
                <div class="col-md-12" >
                    <p>{{fimage.lat_news[0][1].art}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class= "col-md-8">
                    <h2>Featured Mars Image</h2>
                </div>
                <div class= "col-md-4">
                    <h3>Mars Facts</h3>
                </div>
            </div>
            <div class="row">
                <div class= "col-md-8">
                    <img src="{{fimage.feat_image}}" alt="">
                </div>
                <div class= "col-md-4">
                    <table border="1" class="dataframe">
                        <thead>
                            <tr style="text-align: right;">
                                <th></th>
                                <th>Mars</th>
                                <th>Earth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Diameter:</th>
                                <td>6,779 km</td>
                                <td>12,742 km</td>
                            </tr>
                            <tr>
                                <th>Mass:</th>
                                <td>6.39 × 10^23 kg</td>
                                <td>5.97 × 10^24 kg</td>
                            </tr>
                            <tr>
                                <th>Moons:</th>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Distance from Sun:</th>
                                <td>227,943,824 km</td>
                                <td>149,598,262 km</td>
                            </tr>
                            <tr>
                                <th>Length of Year:</th>
                                <td>687 Earth days</td>
                                <td>365.24 days</td>
                            </tr>
                            <tr>
                                <th>Temperature:</th>
                                <td>-87 to -5 °C</td>
                                <td>-88 to 58°C</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="{{fimage.hem_list[0][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[0][0].title}}</h5>
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[1][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[1][0].title}}</h5> 
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[2][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[2][0].title}}</h5> 
                </div>
            </div>
            <div class="card">
                <img src="{{fimage.hem_list[3][1].img_link}}" alt="Mars">
                <div class="card-body">
                    <h5 class="card-title">{{fimage.hem_list[3][0].title}}</h5> 
                </div>
            </div>
        </div>
            
  </div>
</body>

</html>
